<div class="min-h-screen">
  <div class=" mx-auto px-4">
    <p-card class="shadow-lg">
      <ng-template #title>
        <div class="flex items-center gap-3">
          <i class="pi pi-user-plus text-2xl text-blue-600"></i>
          <h1 class="text-2xl font-bold text-gray-800">Crear Nuevo Cliente</h1>
        </div>
      </ng-template>

      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="space-y-6">
        <div class="bg-blue-50 p-6 rounded-lg">
          <h3 class="text-lg font-semibold text-gray-800 mb-4 flex items-center gap-2">
            <i class="pi pi-user text-blue-600"></i>
            Información Personal
          </h3>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4" formGroupName="persona">
            <p-iftalabel>
              <input pInputText formControlName="nombre" type="text" pSize="small" id="nombre" fluid
                autocomplete="given-name" spellcheck="false" placeholder="Ingrese el nombre">
              <label for="nombre">Nombre *</label>
              <app-form-control-error [showError]="isFormControlInvalid('persona', 'nombre')"
                errorMessage="El nombre es requerido" />
            </p-iftalabel>

            <p-iftalabel>
              <input pInputText formControlName="apellido" type="text" pSize="small" id="apellido" fluid
                autocomplete="family-name" spellcheck="false" placeholder="Ingrese el apellido">
              <label for="apellido">Apellido *</label>
              <app-form-control-error [showError]="isFormControlInvalid('persona', 'apellido')"
                errorMessage="El apellido es requerido" />
            </p-iftalabel>

            <p-iftalabel>
              <input pInputText formControlName="dpi" type="text" pSize="small" id="dpi" fluid autocomplete="off"
                spellcheck="false" placeholder="Número de DPI">
              <label for="dpi">DPI</label>
              <app-form-control-error [showError]="isFormControlInvalid('persona', 'dpi')"
                errorMessage="El DPI es requerido" />
            </p-iftalabel>

            <p-iftalabel>
              <input pInputText formControlName="nit" type="text" pSize="small" id="nit" fluid autocomplete="off"
                spellcheck="false" placeholder="Número de NIT">
              <label for="nit">NIT</label>
              <app-form-control-error [showError]="isFormControlInvalid('persona', 'nit')"
                errorMessage="El NIT es requerido" />
            </p-iftalabel>
          </div>
        </div>

        <div class="bg-green-50 p-6 rounded-lg">
          <div class="flex justify-between items-center mb-4">
            <h3 class="text-lg font-semibold text-gray-800 mb-4 flex items-center gap-2">
              <i class="pi pi-id-card text-green-600"></i>
              Información de Contacto
            </h3>
            <p-button label="Agregar contacto" icon="pi pi-plus" size="small" severity="info" type="button"
              (onClick)="contactoForm.agregarContactoFormGroup()" />
          </div>

          <app-contacto-form #contactoForm [formGroup]="formGroup.controls.contacto" />
        </div>

        <div class="bg-orange-50 p-6 rounded-lg">
          <h3 class="text-lg font-semibold text-gray-800 mb-4 flex items-center gap-2">
            <i class="pi pi-map-marker text-orange-600"></i>
            Dirección
          </h3>

          <app-direccion-form [formGroup]="formGroup.controls.direccion" />
        </div>

        <div class="flex justify-end gap-3 pt-4 border-t border-gray-200">
          <p-button label="Cancelar" icon="pi pi-times" severity="secondary" size="small" type="button"
            [routerLink]="['/panel/clientes/lista']" />

          <p-button label="Crear Cliente" icon="pi pi-check" severity="success" size="small" type="submit" [loading]="runningTask()" />
        </div>
      </form>
    </p-card>
  </div>
</div>