@if (!this.transmisionDetalles.isLoading()) {
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="grid grid-cols-1 gap-4">
    <p-iftalabel>
      <input pInputText formControlName="nombre" type="text" pSize="small" id="nombre" fluid autocomplete="off"
        spellcheck="false">
      <label for="nombre">Nombre de la transmisión</label>
      <app-form-control-error [showError]="isFormControlInvalid"
        errorMessage="El nombre de la transmisión es requerido" />
    </p-iftalabel>

    <div class="flex justify-end">
      <p-button label="Guardar transmisión" type="submit" />
    </div>
  </div>
</form>
} @else {
<app-loading />
}