<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="grid grid-cols-1 gap-4">
    <p-iftalabel>
      <input pInputText formControlName="razonSocial" type="text" pSize="small" id="razonSocial" fluid
        autocomplete="off" spellcheck="false" placeholder="Razón social">
      <label for="razonSocial">Razón social*</label>
      <app-form-control-error [showError]="isFormControlInvalid('razonSocial')"
        errorMessage="La razón social es requerida" />
    </p-iftalabel>

    <p-iftalabel>
      <input pInputText formControlName="nit" type="text" pSize="small" id="nit" fluid autocomplete="off"
        spellcheck="false" placeholder="NIT">
      <label for="nit">NIT</label>
    </p-iftalabel>

    <div class="flex justify-end">
      <p-button label="Actualizar Proveedor" icon="pi pi-check" size="small" type="submit" [loading]="runningTask()" />
    </div>
  </div>
</form>