<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="grid grid-cols-1 gap-4">
    <p-iftalabel>
      <input pInputText formControlName="nombre" type="text" pSize="small" id="nombre" fluid autocomplete="off"
        spellcheck="false">
      <label for="nombre">Nombre del municipio</label>
      <app-form-control-error [showError]="isFormControlInvalid" errorMessage="El nombre del municipio es requerido" />
    </p-iftalabel>

    <p-iftalabel>
      <p-select formControlName="departamentoId" [options]="departamentos.value()" optionLabel="nombre" optionValue="id"
        inputId="departamento" fluid placeholder="Seleccione un departamento" checkmark autoOptionFocus
        [focusOnHover]="false" appendTo="body" />
      <label for="departamento">Departamento</label>
    </p-iftalabel>

    <div class="flex justify-end">
      <p-button label="Guardar municipio" type="submit" />
    </div>
  </div>
</form>