@if (!detallesUsuario.isLoading()) {
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="space-y-6">
  <div class="bg-blue-50 p-6 rounded-lg">
    <h3 class="text-lg font-semibold text-gray-800 mb-4 flex items-center gap-2">
      <i class="pi pi-user text-blue-600"></i>
      Información Personal
    </h3>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4" formGroupName="persona">
      <p-iftalabel>
        <input pInputText formControlName="nombre" type="text" pSize="small" id="nombre" fluid autocomplete="given-name"
          spellcheck="false" placeholder="Ingrese el nombre">
        <label for="nombre">Nombre *</label>
        <app-form-control-error [showError]="isFormControlInvalid('persona', 'nombre')"
          errorMessage="El nombre es requerido" />
      </p-iftalabel>

      <p-iftalabel>
        <input pInputText formControlName="apellido" type="text" pSize="small" id="apellido" fluid
          autocomplete="family-name" spellcheck="false" placeholder="Ingrese el apellido">
        <label for="apellido">Apellido *</label>
        <app-form-control-error [showError]="isFormControlInvalid('persona', 'apellido')"
          errorMessage="El apellido es requerido" />
      </p-iftalabel>

      <p-iftalabel>
        <input pInputText formControlName="dpi" type="text" pSize="small" id="dpi" fluid autocomplete="off"
          spellcheck="false" placeholder="Número de DPI (Opcional)">
        <label for="dpi">DPI</label>
        <app-form-control-error [showError]="isFormControlInvalid('persona', 'dpi')"
          errorMessage="El DPI es requerido" />
      </p-iftalabel>

      <p-iftalabel>
        <input pInputText formControlName="nit" type="text" pSize="small" id="nit" fluid autocomplete="off"
          spellcheck="false" placeholder="Número de NIT (Opcional)">
        <label for="nit">NIT</label>
        <app-form-control-error [showError]="isFormControlInvalid('persona', 'nit')"
          errorMessage="El NIT es requerido" />
      </p-iftalabel>
    </div>
  </div>

  <div class="bg-gray-50 p-6 rounded-lg">
    <h3 class="text-lg font-semibold text-gray-800 mb-4 flex items-center gap-2">
      <i class="pi pi-user text-gray-600"></i>
      Información Interna
    </h3>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4" formGroupName="empleado">
      <p-iftalabel>
        <input pInputText formControlName="email" type="text" pSize="small" id="email" fluid autocomplete="given-name"
          spellcheck="false" placeholder="Ingrese el correo electrónico">
        <label for="email">Correo electrónico *</label>
        <app-form-control-error [showError]="isFormControlInvalid('empleado', 'email')"
          errorMessage="El correo electrónico es requerido" />
      </p-iftalabel>

      <p-iftalabel>
        <p-select [options]="roles.value()" formControlName="rolId" optionLabel="nombre" optionValue="id" fluid
          inputId="rolId" checkmark autoOptionFocus [focusOnHover]="false" placeholder="Seleccione un rol"
          appendTo="body">
          <ng-template let-rol #item>
            <div class="flex flex-col gap-1">
              <span>{{ rol.nombre }}</span>
              <span class="text-sm text-gray-500">{{ rol.descripcion }}</span>
            </div>
          </ng-template>
          <ng-template #footer>
            <div class="flex justify-center mb-1">
              <p-button label="Nuevo rol" outlined type="button" (onClick)="nuevoRolDialogo()" />
            </div>
          </ng-template>
        </p-select>
        <label for="rolId">Rol</label>
        <app-form-control-error [showError]="isFormControlInvalid('empleado', 'rolId')"
          errorMessage="El rol es requerido" />
      </p-iftalabel>

      <p-iftalabel>
        <p-datepicker formControlName="fechaContratacion" fluid [iconDisplay]="'input'" [showIcon]="true"
          inputId="icondisplay" appendTo="body" />
        <label for="fechaContratacion">Fecha de contratación</label>
        <app-form-control-error [showError]="isFormControlInvalid('empleado', 'fechaContratacion')"
          errorMessage="La fecha de contratación es requerida" />
      </p-iftalabel>
    </div>
  </div>

  <div class="flex justify-end gap-3 pt-4 border-t border-gray-200">
    <p-button label="Cancelar" icon="pi pi-times" severity="secondary" size="small" type="button"
      [routerLink]="['/panel/usuarios/lista']" />

    <p-button label="Actualizar Usuario" icon="pi pi-check" severity="success" size="small" type="submit"
      [loading]="runningTask()" />
  </div>
</form>
} @else {
<app-loading />
}