@if (!detallesContacto.isLoading()) {
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="grid grid-cols-1 gap-4">
    <p-iftalabel>
      <p-select formControlName="tipoContactoId" [options]="tiposContacto.value()" optionLabel="nombre" optionValue="id"
        fluid checkmark autoOptionFocus [focusOnHover]="false" appendTo="body">
        <ng-template #footer>
          <div class="flex justify-center mb-1">
            <p-button label="Nuevo tipo de contacto" icon="pi pi-plus" outlined type="button"
              (onClick)="nuevoTipoContacto()" />
          </div>
        </ng-template>
      </p-select>
      <label for="tipoContacto">Tipo de Contacto</label>
      <app-form-control-error [showError]="isFormControlInvalid('tipoContactoId')"
        errorMessage="El tipo de contacto es requerido" />
    </p-iftalabel>

    <p-iftalabel>
      <input pInputText formControlName="valorContacto" pSize="small" id="valorContacto" fluid autocomplete="off"
        spellcheck="false">
      <label for="valorContacto">Valor de contacto</label>
      <app-form-control-error [showError]="isFormControlInvalid('valorContacto')"
        errorMessage="El valor de contacto es requerido" />
    </p-iftalabel>

    <div class="flex justify-end">
      <p-button label="Actualizar Contacto" icon="pi pi-check" size="small" type="submit" [loading]="runningTask()" />
    </div>
  </div>
</form>
} @else {
<app-loading />
}